<extend name="Base/common"/>


<block name="body">
    <div class="main store-page">
        <div class="common-banner">
            <div class="banner-wrapper">
                <h1>关于我们</h1>
            </div>
        </div>
        <div class=" common-wrapper">
            <volist name="lists" id="data">
                <div class="store-list__item">
                    <div class="about-item__info">
                        <h3 class="store-item__name">{$data.name}</h3><br>
                        {$data.content}

                    </div>
                    <div class="store-item__map">{$data.map}</div>
                    <div class="clearfix"></div>
                </div>
            </volist>
        </div>
    </div>
</block>
