<extend name="Base/common"/>

<block name="body">

	       <div class="main index-page show-brand">
        <div class="slide-wrapper" id="slides">
            <div class="slides_container">
                <think:datalist name="slide" result="slide" limit="5" order="level DESC,id DESC">
                            <div class="slide-content"">
                               <div class="pos-{$slide.position}" data-scroll-reveal="enter top and move 200px over 1s">
                                    <div class="title">{$slide.title}</div>
                                    <div class="description">{$slide.description}</div>
                                    <div class="action"><a href="{$slide.link}" class="btn btn--red">下载</a></div>
                                </div>

				<div class="slide-item" data-scroll-reveal="enter top and move 150px over 1s" style="background-image: url({$slide.image|get_cover='path'})" ></div>
	
 </div>
                    
                </think:datalist>
            </div>
        </div>
    </div>





</block>

<block name="script">
    <script type="text/javascript">
/** 
       $(function(){
            $('#slides').slides({
                //pauseOnHover: false,
                hoverPause: true,
                play: 3000,
		pause:2000,
                pagination: {
                    active: true,
                    effect: "slide"
                },
                slidesLoaded:function(){
                    $('.slides_container').css({height:'100%'});
                    $(".slides_control").css({width:"100%",left:"-1377px"});
                }
            });
        });
**/

     $(function(){

        'use strict';

        window.scrollReveal = new scrollReveal({ reset: true, move: '50px' });
      });


    </script>

</block>
